html,
body {
  min-height: 100%;
  font-family: "VT323", monospace;
}
body {
  background: #ee9ca7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.App {
  text-align: center;
}
.container {
  margin: 0 20% 0 20%;
}
.mainText {
  margin-top: 50px;
  font-size: 2.2rem;
}
p,
h4 {
  margin: 0;
  background: #ff009d; /* fallback for old browsers */
  background: -webkit-linear-gradient(16deg, #ff009d, #3c13f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* =========== */

.heart {
  position: relative;
  width: 100px;
  height: 90px;
  float: left;
}
.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #fc2e5a;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 20%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 8s;
}

.circles li:nth-child(6) {
  left: 15%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.circles li:nth-child(7) {
  left: 87%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 14s;
}

.circles li:nth-child(8) {
  left: 33%;
  width: 50px;
  height: 50px;
  animation-delay: 0s;
  animation-duration: 6s;
}

.circles li:nth-child(9) {
  left: 42%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 16s;
}

.circles li:nth-child(10) {
  left: 60%;
  width: 30px;
  height: 30px;
  animation-delay: 0s;
  animation-duration: 20s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
  .h {.grow { transition: all .2s ease-in-out; }
  .grow:hover { transform: scale(1.1); }
}
}

